
.vs/HLang/v15/.suo
.vs/HLang/v15/Browse.VC.db
.vs/HLang/v16/.suo
*.db
*.opendb
*.ipch
*.json
HLang.vcxproj.user
/Debug/HLang.tlog
/Debug
/x64/Debug
/.vs/HLang/v15
/base/x64
/std/x64
/qt/debug
/qt/release
/qt/x64/Debug
/qt/.qmake.stash
